.card {
  @apply relative my-8 flex-col rounded bg-transparent p-3 lg:grid lg:grid-cols-3 lg:gap-5 lg:rounded-xl lg:p-10;
  /* border-radius: 2rem;  bg-black*/
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #e7ebf0;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%);
  background: linear-gradient(
    90deg,
    rgba(16, 196, 96, 0.08757006220456931) 132%,
    rgba(255, 255, 255, 1) 100%
  );
  .information {
    > h1 {
      @apply mb-1 text-2xl font-bold leading-tight text-darck-beige lg:mb-5 lg:text-3xl;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    > div {
      @apply mb-4 lg:mb-12;
      > p {
        @apply text-beige;
      }
    }
    > button {
      @apply mr-4 rounded-2xl bg-transparent transition-colors ease-linear last:mr-0;
      &.active {
        @apply bg-white;
        box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%),
          0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
      }
    }
  }

  .image {
    @apply text-center;
    .main {
      @apply mx-auto flex h-[13.4rem] w-[13.4rem] items-center justify-center overflow-hidden rounded-full bg-white lg:h-[18.4rem] lg:w-[18.4rem];
      box-shadow: 0px 5px 100px -50px #6c946b;
      img {
        @apply -mt-10 w-4/6 rounded-full;
      }
    }
    .price {
      @apply -mt-[3.75rem] text-2xl font-bold text-green;
    }
  }

  .variations {
    .rating {
      @apply mt-5 flex items-center justify-center lg:mt-0;
      > span {
        @apply mr-2 text-sm font-bold;
      }
    }
  }
}
