@import 'app/assets/styles/_variables.scss';

.containerWrapperAboutUs {
  display: flex;
}

.wrapperAboutUs {
  color: #1f1f1f;
}

.image {
  width: 100%;
  height: 200px;
}

.titleAboutUs {
  font-size: 1.7rem;
}

.isVisible {
  display: inline;
}

.isHidden {
  display: none;
}

.readMoreBtn {
  margin-top: 10px;
  background-color: $green;
  border-radius: 8px;
}

@media (max-width: 1023px) {
  .containerWrapperAboutUs {
    display: flex;
    flex-direction: column;
  }

  .sidebarAboutUs {
    width: 100%;
    margin-bottom: 0.5rem /* 8px */;
  }
}
