.navigation {
  @apply relative;

  .image {
    @apply -mt-[4.5rem] block;
    & img {
      @apply rounded-full;
    }
  }

  .arrows {
    @apply absolute flex animate-scaleIn items-center justify-between;
    top: 45%;
    width: 110%;
    left: -5%;
  }

  .arrow {
    @apply text-white;
  }
}
