.wrapCard {
  @apply max-w-[400px] bg-white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  .img {
    @apply mb-4;
  }
  .wrapContent {
    @apply p-5;
    .title {
      @apply text-2xl;
    }
    .paragraf {
      @apply mb-5 text-beige;
    }
  }
}
