@import 'app/assets/styles/variables.scss';
@tailwind components;
@tailwind utilities;

/* @import 'app/assets/styles/_variables.scss'; */
@import './_variables.scss';

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  @apply text-base text-black;
  /* background: red !important; */
}

input::-ms-clear {
  display: none;
}
input {
  border: none; /* Removes the default border */
}

input:focus {
  outline: none; /* Removes the border when the input is clicked */
}
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

.disabled {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
  opacity: 0.2 !important;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, grey);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #6c946b);
}
